.THIS {
  font-family: "ProximaNovaSoft-Regular", Calibri, "Gill Sans", "Gill Sans MT", Candara, Segoe, "Segoe UI", Arial, sans-serif;
  width: 100%;
}

.THIS .esignature-hide {
  border: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  background: transparent;
}

.THIS .mb-signature-pad,
.THIS .mb-signature-pad-readonly {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  height: 200px;
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.THIS .mb-signature-pad-readonly img {
  align-self: center;
  width: auto;
  height: auto;
}

.THIS .mb-signature-pad:before,
.THIS .mb-signature-pad:after {
  position: absolute;
  z-index: -1;
  content: "";
  background: transparent;
  -webkit-transform: skew(-3deg) rotate(-3deg);
  -moz-transform: skew(-3deg) rotate(-3deg);
  -ms-transform: skew(-3deg) rotate(-3deg);
  -o-transform: skew(-3deg) rotate(-3deg);
  transform: skew(-3deg) rotate(-3deg);
}

.THIS .mb-signature-pad:after {
  left: auto;
  -webkit-transform: skew(3deg) rotate(3deg);
  -moz-transform: skew(3deg) rotate(3deg);
  -ms-transform: skew(3deg) rotate(3deg);
  -o-transform: skew(3deg) rotate(3deg);
  transform: skew(3deg) rotate(3deg);
}

.THIS .mb-signature-pad .mb-signature-pad-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.THIS .mb-signature-pad .mb-signature-pad-body canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
}

@media screen and (max-width: 1024px) {
  .THIS .mb-signature-pad,
  .THIS .mb-signature-pad-readonly {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 140px;
  }
}
